/* The code below puts the title of the website in the center */
.title { 
    text-align: center;
}

/* The code below adds a white background-color and black text color for the body of the page. */
body {display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid black; 
    margin: 10px;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(216, 216, 216);
}


/* The code below adds a black background-color and white text color for each section heading. */
.section {
    color:white;
    text-align: center;
    background-color: rgb(58, 58, 58);
}
.Causes {
    background-color: rgb(58, 58, 58);
    color: white;
    font-size: 20px;

}
.Effects {
    background-color: rgb(58, 58, 58);
    color: white;
    font-size: 20px;
}

.Solutions {
    background-color: rgb(58, 58, 58);
    color: white;
    font-size: 20px;
}
.title {
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}